ion-icon{
    z-index: 999;
    cursor: pointer;
  }

/* img {
  width: 300px;
  height: 300px;
} */

.container {
    width: 30vw;
    height: 30vw;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 30vw;
    height: 30vw;
}

.hidden {
    opacity: 0;
}